.header {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: 80px repeat(12, 1fr) 80px;
  grid-template-areas: ". . logo logo . . . . . . app abt gh .";
  padding: var(--size-8) 0;
}

.logo {
  grid-area: logo;
}

.app {
  grid-area: app;
}

.about {
  grid-area: abt;
}

.github {
  grid-area: gh;
}

ul {
  list-style: none;
}

h5 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-4);
  letter-spacing: 0.01em;
}

.hero {
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  font-family: var(--font-sans);
  height: 70vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80px repeat(12, 1fr) 80px;
  grid-template-rows: repeat(2, 1fr);
  column-gap: var(--size-4);
  row-gap: var(--size-13);
  grid-template-areas:
    ". c c c c c c . img img img img img ."
    ". pImg pImg pImg pImg pImg . pInfo pInfo pInfo pInfo pInfo pInfo .";
  padding: var(--size-8) 0;
}

.contentWrapper {
  grid-area: c;
  align-self: center;
}

h1 {
  background-image: var(--gradient-4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroImg {
  grid-area: img;
}

.heroImg img {
  border-radius: var(--radius-blob-5);
}

.problemImg {
  grid-area: pImg;
}

.problemImg img {
  border-radius: var(--radius-blob-4);
}

.problemContent {
  grid-area: pInfo;
  align-self: center;
}
